.dropdownContainer {
  margin-right: 30px !important;
}

.dropdown {
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  color: #a1a1c2;

  &::after {
    opacity: 0.5;
    color: #a1a1c2;
    position: absolute;
    top: 45%;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: all 0.3s linear;
  }

  &:hover {
    color: #695ee8;
  }
}

// dark theme
/* [data-kit-theme='dark'] {
  .dropdown {
    color: $dark-gray-2;

    &:hover {
      color: $primary;
    }
  }
} */
