.mobile-hamburguer {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #000;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: left 0.3s linear;
  &.collapsed {
    left: -50px;
  }
}

.left-menu-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 11px;
  position: fixed !important;
  background-color: #f0f3f4;
  height: 100vh;
  top: 0;
  left: 0;
  width: 70px;
  overflow: hidden;
  padding-right: 5px;
  transition: width 0.3s linear;
  transition: left 0.3s linear;
  z-index: 1000;
  .ant-menu-item {
    width: 50px !important;
    padding-left: 12px !important;
    transition: all 0.3s linear !important;
  }
  &.collapsed,
  &.mobile {
    width: 250px;
    .ant-menu-item {
      width: 100% !important;
      padding: 0 16px !important;
    }
  }
  &.mobile {
    left: -250px !important;
    &.collapsed {
      left: 0 !important;
    }
  }
}

.left-menu-container.collapsed .bottomButton {
  display: flex !important;
  img {
    transform: rotate(0);
  }
}

.bottomButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #e4edf0;
  img {
    // transition: all linear 0.3s;
    transform: rotateY(180deg);
  }
}

.left-menu-icon {
  margin-left: 15px;
}

.left-menu {
  border: none !important;
  margin-top: 10px;
  background-color: #f0f3f4 !important;
}

.left-menu-sub-item:active {
  background-color: #695ee8 !important;
}

.left-menu .ant-menu-inline {
  margin-left: -15px;
  width: calc(100% + 15px);
  background-color: #e4edf0 !important;
  border-radius: 5px !important;
}

.left-menu .ant-menu-submenu-title {
  margin-left: -15px;
  width: calc(100% + 15px);
  padding-left: 15px !important;
  border-radius: 5px;
  margin-bottom: 0 !important;
  color: #695ee8 !important;
}

.left-menu .ant-menu-submenu-active {
  /* background-color: #695ee8 !important; */
  padding-left: 15px !important;
}

.left-menu-sub-item:hover span {
  color: #fff !important;
}

.left-menu
  .left-menu-sub-item
  .ant-menu-submenu-active
  .ant-menu-title-content {
  // transition: none !important;
  // transition: background 300ms !important;
  color: #fff !important;
}

.left-menu * {
  box-shadow: none !important;
}

.left-menu .ant-menu-submenu-active:hover {
  background-color: #fff !important;
  /* color: #fff !important; */
}

.left-menu .ant-menu-submenu-active:active {
  background-color: #fff !important;
  /* color: #fff !important; */
}

.left-menu .ant-menu-submenu-active:hover i {
  color: #695ee8 !important;
}

.left-menu .ant-menu-inline li {
  padding-left: 15px !important;
  box-sizing: border-box !important;
  width: 100% !important;
}

.left-menu .ant-menu-item-selected {
  background-color: #695ee8 !important;
  border-radius: 5px !important;
}

.left-menu .ant-menu-item-selected span {
  color: #fff !important;
}

.left-menu .ant-menu-item-active .ant-menu-item-icon {
  color: #fff !important;
}

.left-menu .ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important;
}

.left-menu .ant-menu-item-selected::after {
  border: none !important;
}

.left-menu .ant-menu-item-active {
  background-color: #695ee8;
  border-radius: 5px !important;
}

.left-menu .ant-menu-item-active span {
  color: #fff !important;
}

.left-menu li {
  padding-left: 15px !important;
  border: none !important;
  border-radius: 5px !important;
}

.left-menu div {
  padding-left: 0px !important;
}

.left-menu ul li {
  padding-left: 0px !important;
}

.left-menu li span {
  color: #868eb7;
  font-size: 14px !important;
}

.left-menu li .ant-menu-item-icon {
  color: #868eb7;
  font-size: 14px !important;
  height: 18px !important;
}

.left-menu-hiring {
  width: 100%;
  border: 1px solid #695ee8;
  height: 42px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 15px;
}

.left-menu-hiring span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #695ee8;
}
