.dropdown_container {
  & .dropdown {
    padding-right: 15px;
    position: relative;
    cursor: pointer;

    &::after {
      opacity: 0.5;
      color: #868eb7;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -2px;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    &:hover {
      color: #00a0ff;

      &::after {
        color: #262d42;
      }
    }
  }

  & .avatar {
    background-color: #e4edf0 !important;
  }
}

.dropdown_usermenu {
  width: fit-content !important;
  min-width: 220px !important;
  & .dropdown_usermenu_item {
    width: 100% !important;
    border-bottom: none !important;
    text-align: left !important;
    color: #868eb7 !important;
    // border-bottom: none !important;
    &:hover {
      background-color: #cad7e6 !important;
      color: #262d42 !important;
      text-align: left !important;
    }
    & a {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  & .dropdown_usermenu_name {
    display: flex;
    align-items: center;
    color: #132c4a !important;
    font-size: 14px;
    font-weight: 600;

    & img {
      margin-left: 5px;
    }
  }
}
